<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./static/styles.css" media="screen">
    <title>Панель менеджера</title>
</head>
<body>
    <header>
        <nav>
            <ul class="button-list">
                <img src="{{ url_for('static', filename='mint_logo.png') }}" alt="Логотип" width="100", height="100">
                <li><a href="/" class="button">Выход</a></li>
                <li><a href="/complete_order" class="button">Выполненые заказы</a></li>
                <li><a href="/memo" class="button">Памятка новым сотрудникам</a></li>
                <li><a href="/managerdashboard" class="button">Панель менеджера</a></li>
            </ul>
        </nav>
    </header>

    <h1>Панель менеджера</h1>
     <div class="search-container">
         <form method="get">
        <input type="text" id="searchInput" onkeyup="search_orders()" placeholder="Поиск по номеру заказа">
         <button onclick="search_orders()" class="search-button">Искать</button>
         </form>
    </div>
    <div class="orders-container">
        <div class="row">
            {% for order in orders %}
                <div class="order-card">
                    <p><strong>Номер заказа:</strong> {{ order.id_orders }}</p>
                    <p><strong>ФИО покупателя:</strong> {{ order.name }} {{ order.surname }} {{ order.patronymic }}</p>
                    <p><strong>Почта покупателя:</strong> {{ order.e_mail}}</p>
                    <p><strong>Модель автомобиля:</strong> {{ order.model }}</p>
                    <p><strong>Дата и время заказа:</strong> {{ order.date }} {{ order.time }}</p>
                    <p><strong>Способ оплаты:</strong> {{ order.name_pay }}</p>
                    <p><strong>Статус заказа:</strong> {{ order.name_status }}</p>
                    <button onclick="processOrder({{ order.id_orders }}, '{{ order.e_mail }}')">Оплатить</button>
                </div>
                {% if loop.index % 4 == 0 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <script>
        function processOrder(orderId, email) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'update_order_status', true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            xhr.onload = function() {
                if (xhr.status >= 200 && xhr.status < 300) {
                    alert("Заказ с номером " + orderId + " оплачен для " + email);
                } else {
                    alert('Ошибка при обновлении статуса заказа');
                }
            };

            var data = JSON.stringify({ orderId: orderId, email: email});
            xhr.send(data);
        }
    </script>
</body>
</html>
